.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 17px;
    z-index: 999;
    @media screen and (max-width: 376px) {
        background-color: #FFFFFF;
    }
    &__wrap {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        @media screen and (max-width: 376px) {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        border: 3px solid #070707;
        padding: 40px;
        background-color: #FFFFFF;
        @media screen and (max-width: 376px) {
            border: none;
            width: 100%;
            padding: 20px;
            order: 2;
        }
        &--register, &--change-data {
            max-width: 680px;
            flex-direction: unset;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__btn-wrap {
            width: 100%;
        }
        &__label {
            margin-bottom: 6px;
        }
        &__input {
            margin-bottom: 20px;
            width: 290px;
            height: 50px;
            border: 2.5px solid #E5E5E5;
            @media screen and (max-width: 376px) {
                width: 280px;
            }
            &--invalid {
                border-color: #EB3617;
            }
            &--valid {
                border-color: #03BC3C;
            }
            &:hover {
                border: 2.5px solid #828282;
            }
            &:focus {
                border: 2.5px solid #070707;
            }
            &--email {
                width: 100%;
            }
            &--file {
                opacity: 0;
            }
        }
        &__btn {
            margin-top: 10px;
            color: #070707;
            font-weight: 700;
            font-size: 18px;
            display: inline-block;
            border: 2.5px solid #070707;
            border-radius: 30px;
            padding: 10px 19px;
            width: max-content;
            background-color: transparent;
            &:hover {
                color: #FFFFFF;
                background-color: #070707;
              }
              &:disabled {
                  color: #E5E5E5;
                  border-color: #E5E5E5;
                  cursor: no-drop;
              }
        }
        &__input-wrap {
            display: flex;
            flex-direction: column;
            &--register-email{
                width: 100%;
            }
            &--file>label {
                position: relative;
                &::after {
                    background-image: url(/img/icons/file_upload.svg);
                    background-repeat: no-repeat;
                    background-position: 16px 16px;
                    content: "Choose a file...";
                    position: absolute;
                    top: 25px;
                    left: 0;
                    width: 290px;
                    height: 50px;
                    border: 2.5px solid #E5E5E5;
                    padding: 16px 40px;
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            &>label {
                margin-bottom: 6px;
            }
            &--message {
                width: 100%;
                &>textarea {
                    width: 100%;
                    resize: none;
                    min-height: 150px;
                }
            }
        }
        &__checkbox-wrap {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-bottom: 20px;
            &>input:not(:checked) {
                border-color: #E5E5E5;
            }
            &__label-disabled {
                color: #E5E5E5;
            }
        }
    }
    &__close-btn {
        background-color: transparent;
        background-image: url(/img/icons/modal_close.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
        border: none;
        &:hover  {
            background-image: url(/img/icons/modal_close_hover.svg);
        }
        @media screen and (max-width: 376px) {
            order: 1;
            margin-left: 20px;
        }
    }
}

.color-red {
    color: #EB3617;
}

.form-sent-message {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    max-width: 219px;
    text-align: center;
    &--success {
        color: #03BC3C;
    }
    &--error {
        color: #EB3617;
    }
}

// стили для валидации форм

.invalid-message {
    color: #EB3617;
    width: 290px;
    margin-bottom: 15px;
}