html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #070707;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 47px;
  line-height: 57px;
}

h2 {
  font-size: 34px;
  line-height: 41px;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn {
  color: #070707;
  font-weight: 700;
  display: inline-block;
  border: 2.5px solid #070707;
  border-radius: 30px;
  padding: 10px 19px;
  align-self: center;
  font-size: 18px;
  &:hover {
    color: #FFFFFF;
    background-color: #070707;
  }
}

hr {
  background-color: #E5E5E5;
  height: 2px;
  border: none;
}

.page-title-mob {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 36px;
  &>h1 {
    max-width: 50%;
  }
  @media screen and (min-width:376px) {
    display: none;
  }
}

.checkbox {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 3px solid;
  border-radius: 5px;
  cursor: pointer;
  &:checked {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 6.75L5.91301 12.77C6.20128 13.2135 6.85836 13.1893 7.11327 12.7259L13.425 1.25' stroke='%23070707' stroke-width='2.5' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  }
  &--blue {
    border-color: #2176FF;
    &:checked {
      background-image: url(/img/icons/checked_blue.svg);
    }
  }
  &--light-blue {
    border-color: #33A1FD;
    &:checked {
      background-image: url(/img/icons/checked_light-blue.svg);
    }
  }
  &--light-orange {
    border-color: #FDCA40;
    &:checked {
      background-image: url(/img/icons/checked_light-orange.svg);
    }
  }
  &--marine {
    border-color: #57E2E5;
    &:checked {
      background-image: url(/img/icons/checked_marine.svg);
    }
  }
  &--orange {
    border-color: #F79824;
    &:checked {
      background-image: url(/img/icons/checked_orange.svg);
    }
  }
  &--pink {
    border-color: #E08DAC;
    &:checked {
      background-image: url(/img/icons/checked_pink.svg);
    }
  }
  &--violet {
    border-color: #6A7FDB;
    &:checked {
      background-image: url(/img/icons/checked_violet.svg);
    }
  }
  &--green {
    border-color: #45CB85;
    &:checked {
      background-image: url(/img/icons/checked_green.svg);
    }
  }
  // &--black:checked {
  //   background-image: url(/img/icons/checked.svg);
  // }
}

.preloader {
  z-index: 10000;
  background-color: #9a9a9a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}

.not-hidden {
  display: flex;
}