@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/footer";
@import "_blocks/header";

// Fonts

@font-face {
  font-family: "Gilroy", "Arial", sans-serif;
  src: url(/fonts/gilroy-regular.woff) format(woff),
       url(/source/fonts/gilroy-regular.woff2) format(woff2);
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy", "Arial", sans-serif;
  src: url(/fonts/gilroy-medium.woff) format(woff),
       url(/source/fonts/gilroy-medium.woff2) format(woff2);
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy", "Arial", sans-serif;
  src: url(/fonts/gilroy-bold.woff) format(woff),
       url(/source/fonts/gilroy-bold.woff2) format(woff2);
  font-weight: 700;
}

// index styles

.heading-section{
  &__desc {
    display: flex;
    column-gap: 40px;
    align-items: flex-end;
    width: 53%;
    margin-top: 40px;
    margin-bottom: 36px;
    &>h1 {
      font-size: 47px;
      line-height: 57px;
    }
  }
  &__photo {
    width: 100%;
  }
  &__slider__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
    &__arrow {
      background-size: contain;
      background-repeat: no-repeat;
      width: 42px;
      height: 42px;
      border: none;
      background-color: transparent;
    }
    &__list {
      display: flex;
      column-gap: 7px;
    }
  }
}

.heading-section__slider__controls {
  &__arrow {
    cursor: pointer;
    &--left {
      background-image: url(/img/icons/arrow_left.svg);
    }
    &--right {
      background-image: url(/img/icons/arrow_right.svg);
    }
  }
  &__list__list-item > button {
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  &__list__list-item{
    &--active > button {
    background-color: #070707;
    }
    &--disabled > button {
      background-color: #E5E5E5;
    }
  }
}

.about-me {
  background-color: #F6F6F6;
  padding: 60px 431px;
  &__text-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__quote {
    max-width: 448px;
    padding-top: 8px;
    padding-left: 15px;
    &-wrap {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      width: 478px;
      min-height: 135px;
      &--right {
        background-image: url(/img/icons/quote_right.svg);
      }
      &--left {
        background-image: url(/img/icons/quote_left.svg);
        margin-left: 30%;
      }
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 51px;
  }
}

.skills {
  text-align: center;
  padding: 60px 0;
  &__text {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    &__list-item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__list-item__name {
      margin-top: 20px;
      margin-bottom: 24px;
    }
  }
}

.portfolio {
  padding: 60px 0;
  background-color: #F6F6F6;
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
}