<section class="hidden change-data-modal-js">
    <div class="modal__wrap">
        <form action="#" class="modal__form modal__form--change-data" name="changeData" novalidate>
            
            <div class="modal__form__input-wrap modal__form__input-wrap--register-email">
                <label for="changeEmail">Email</label>
                <input type="email" name="email" id="changeEmail" class="modal__form__input modal__form__input--email">
            </div>
            <div class="modal__form__input-wrap">
                <label for="changeName">Name</label>
                <input type="text" name="name" id="changeName" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap">
                <label for="changeSurname">Surame</label>
                <input type="text" name="surname" id="changeSurname" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap">
                <label for="changeLocation">Location</label>
                <input type="text" name="location" id="changeLocation" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap">
                <label for="changeAge">Age</label>
                <input type="number" name="age" id="changeAge" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap modal__form__input-wrap--file">
                <label for="picture">Profile picture</label>
                <input type="file" name="image" id="picture" class="modal__form__input modal__form__input--file">
            </div>
            <div class="modal__form__btn-wrap">
                <button type="submit" class="modal__form__btn modal__form__btn--change-data">Submit changes</button>
            </div>
        </form>
        <button type="button" class="modal__close-btn"></button>
    </div>
</section>