<section class="hidden change-password-modal-js">
    <div class="modal__wrap password-wrap--js">
        <form action="#" class="modal__form" name="changePassword" novalidate>
            <label for="oldPassword" class="modal__form__label">Old password&nbsp;<span class="color-red">*</span></label>
            <input type="password" name="oldPassword" id="oldPassword" class="modal__form__input" required>
            <label for="newPassword" class="modal__form__label">New password&nbsp;<span class="color-red">*</span></label>
            <input type="password" name="newPassword" id="newPassword" class="modal__form__input" required>
            <label for="repeatNewPassword" class="modal__form__label">Repeat new password&nbsp;<span class="color-red">*</span></label>
            <input type="password" name="repeatNewPassword" id="repeatNewPassword" class="modal__form__input" required>
            <button type="submit" class="modal__form__btn">Change password</button>
        </form>
        <button type="button" class="modal__close-btn"></button>
    </div>
</section>