<footer class="footer">
  <h2>Contacts</h2>
  <span>Want to know more or just chat? You are welcome!</span>
  <button type="button">Send message</button>
  <ul>
    <li>
      <a href="">Instagram</a>
    </li>
    <li>
      <a href="">Vk</a>
    </li>
    <li>
      <a href="">Telegram</a>
    </li>
    <li>
      <a href="">Mail</a>
    </li>
    <li>
      <a href="">GitHub</a>
    </li>
    <li>
      <a href="">Phone</a>
    </li>
  </ul>
  <span>Design by DL Academy</span>
  <span>Program code from Antonina</span>
</footer>
