<footer class="footer">
  <h2>Contacts</h2>
  <span class="footer__text">Want to know more or just chat? You are welcome!</span>
  <button type="button" class="footer__btn">Send message</button>
  <ul class="footer__socials-list">
    <li class="footer__socials-list__list-item">
      <a href="http://instagram.com" class="btn">Instagram</a>
    </li>
    <li class="footer__socials-list__list-item">
      <a href="http://vk.com" class="btn">Vk</a>
    </li>
    <li class="footer__socials-list__list-item">
      <a href="http://telegram.org" class="btn">Telegram</a>
    </li>
    <li class="footer__socials-list__list-item">
      <a href="http://mail.ru" class="btn">Mail</a>
    </li>
    <li class="footer__socials-list__list-item">
      <a href="http://github.com" class="btn">GitHub</a>
    </li>
    <li class="footer__socials-list__list-item">
      <a href="tel:+71234567890" class="btn">Phone</a>
    </li>
  </ul>
  <span class="footer__design-by">Design by <a href="https://dlacademy.ru/" class="dashed-underline">DL Academy</a></span>
  <span class="footer__code-by">Program code from Antonina</span>
</footer>
