<header class="header container">
    <nav class="header__nav">
        <a href="index.html" class="header__nav__main-anchor @@home-disabled">Home</a>
        <ul class="header__nav__list">
            <li>
                <a href="blog.html" class="header__nav__list__list-item @@my-blog-active">My blog</a>
            </li>
            <li class="@@hide-sign-in">
                <button type="button" class="header__nav__list__list-item sign-in-modal-btn-js">Sign in</button>
            </li>
            <li class="@@hide-register">
                <button type="button" class="header__nav__list__list-item register_modal-btn-js">Register</button>
            </li>
            <li class="@@hide-profile">
                <a href="profile.html" class="header__nav__list__list-item @@my-profile-active">My profile</a>
            </li>
        </ul>
    </nav>
    <hr class="header__line">
</header>

<header class="header-mob-js hidden">
    <nav class="header-mob__nav">
        <ul class="header-mob__nav__list">
            <li>
                <button type="button" class="header-mob__close-btn"></button>
            </li>
            <li>
                <a href="index.html" class="header-mob__nav__list__link header-mob__nav__list__link--main">Home</a>
            </li>
            <li>
                <a href="blog.html" class="header-mob__nav__list__link">My blog</a>
            </li>
            <li class="@@hide-sign-in">
                <a href="" class="header-mob__nav__list__link">Sign in</a>
            </li>
            <li class="@@hide-register">
                <a href="" class="header-mob__nav__list__link">Register</a>
            </li>
            <li class="@@hide-profile">
                <a href="profile.html" class="header-mob__nav__list__link">My profile</a>
            </li>
        </ul>
    </nav>
</header>

@@include('blocks/sign_modal.html')
@@include('blocks/register_modal.html')