<header class="header container">
    <nav class="header__nav">
        <a href="index.html" class="header__main-anchor">Home</a>
        <ul class="header__nav__list">
            <li class="header__nav__list__list-item">
                <a href="">My blog</a>
            </li>
            <li class="header__nav__list__list-item">
                <a href="">Sign in</a>
            </li>
            <li class="header__nav__list__list-item">
                <a href="">Register</a>
            </li>
        </ul>
    </nav>
    <hr class="header__line">
</header>