<header class="header container">
    <nav class="header__nav">
        <a href="index.html" class="header__main-anchor">Home</a>
        <ul class="header__nav__list">
            <li>
                <a href="blog.html" class="header__nav__list__list-item">My blog</a>
            </li>
            <li>
                <button type="button" class="header__nav__list__list-item sign-in-modal-btn-js">Sign in</button>
            </li>
            <li>
                <button type="button" class="header__nav__list__list-item">Register</button>
            </li>
        </ul>
    </nav>
    <hr class="header__line">
</header>

<header class="header-mob-js hidden">
    <nav class="header-mob__nav">
        <ul class="header-mob__nav__list">
            <li>
                <button type="button" class="header-mob__close-btn"></button>
            </li>
            <li>
                <a href="index.html" class="header-mob__nav__list__link header-mob__nav__list__link--main">Home</a>
            </li>
            <li>
                <a href="" class="header-mob__nav__list__link">My blog</a>
            </li>
            <li>
                <a href="" class="header-mob__nav__list__link">Sign in</a>
            </li>
            <li>
                <a href="" class="header-mob__nav__list__link">Register</a>
            </li>
        </ul>
    </nav>
</header>