<section class="hidden message-modal-js">
    <div class="modal__wrap">
        <form action="#" class="modal__form modal__form--register">
            <div class="modal__form__input-wrap">
                <label for="name" class="register__label">What is your name?&nbsp;<span class="color-red">*</span></label>
                <input type="text" name="name" id="name" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap">
                <label for="subject" class="register__label">Message subject&nbsp;<span class="color-red">*</span></label>
                <input type="text" name="subject" id="subject" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap">
                <label for="email" class="register__label">Your Email&nbsp;<span class="color-red">*</span></label>
                <input type="email" name="email" id="email" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap">
                <label for="phone" class="register__label">Your mobile phone&nbsp;<span class="color-red">*</span></label>
                <input type="tel" name="phone" id="phone" class="modal__form__input">
            </div>
            <div class="modal__form__input-wrap modal__form__input-wrap--message">
                <label for="message" class="register__label">What do you want to discuss with me?</label>
                <textarea name="message" id="message" cols="30" rows="10" class="modal__form__input"></textarea>
            </div>
            <div class="modal__form__checkbox-wrap">
                <input type="checkbox" name="msg-agreement" id="msg-agreement" class="checkbox checkbox--black cb-js">
                <label for="msg-agreement" class="modal__form__checkbox-wrap__label-disabled cb-label-js">Clicking on the button, you consent to the processing of your personal data.</label>
            </div>
            <button type="submit" class="modal__form__btn modal__form__btn--register btn-register-js" disabled>Send</button>
        </form>
        <button type="button" class="modal__close-btn modal__close-btn--msg"></button>
    </div>
</section>