<section class="hidden sign-in-modal-js">
    <div class="modal__wrap">
        <form action="#" class="modal__form">
            <label for="email" class="modal__form__label">Email&nbsp;<span class="color-red">*</span></label>
            <input type="email" name="email" id="email" class="modal__form__input">
            <label for="password" class="modal__form__label">Password&nbsp;<span class="color-red">*</span></label>
            <input type="password" name="password" id="password" class="modal__form__input">
            <button type="submit" class="modal__form__btn">Log in</button>
        </form>
        <button type="button" class="modal__close-btn"></button>
    </div>
</section>